.infopart {
  background-color: aliceblue;
}

.interested {
  display: flex;
}

.button {
  cursor: pointer;
  background-color: rgba(3, 49, 9, 0);
  border: none;
  outline: none;
  border-radius: 5px;
  color: pink;
  font-family: "Charm", cursive;
  margin: 0 auto;
  padding: 1.3rem 5rem;
  letter-spacing: 0.5rem;
  font-size: 4rem;
}

.button-container1 {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("/mican.jpg");
  background-size: cover;
  border-radius: 10px;
  box-shadow: rgb(142, 108, 145, 0.65) 1px 8px 3px;
  height: 20rem;
  margin-right: 1rem;
  max-width: 500px;
}

.button:hover {
  color: white;
  filter: brightness(120%);
}

.button-container1:active {
  transform: translate(0, 0.3rem);
  box-shadow: none;
}

.button-container2 {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("/HLL.jpg");
  border-radius: 10px;
  box-shadow: rgb(142, 108, 145, 0.65) 1px 8px 3px;
  height: 20rem;
  max-width: 500px;
}

.button2 {
  cursor: pointer;
  background-color: rgba(3, 49, 9, 0);
  border: none;
  outline: none;
  border-radius: 5px;
  color: pink;
  font-family: "Charm", cursive;
  margin: 0 auto;
  padding: 1.3rem 5rem;
  letter-spacing: 0.5rem;
  font-size: 4rem;
}

.button-container2:active {
  transform: translate(0, 0.3rem);
  box-shadow: none;
}

@media (max-width: 1000px) {
  .interested {
    display: block;
  }

  .button-container2 {
    margin-top: 1rem;
  }
}
