.infopart {
  background-color: aliceblue;
}

.button {
  cursor: pointer;
  background-color: rgba(3, 49, 9, 0.63);
  border: none;
  outline: none;
  border-radius: 5px;
  color: pink;
  font-family: "Charm", cursive;
  margin: 0.5rem 2rem;
  padding: 1.3rem 5rem;
  letter-spacing: 0.5rem;
  box-shadow: rgb(142, 108, 145, 0.65) 0rem 0.5rem;
}

.button:hover {
  color: white;
  filter: brightness(120%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: none;
}
